<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>running</title>
    <style>
        .button-side{
            margin: 100px auto;
            width: 50%;
        }
    </style>
</head>
<body>
<div class="navbar navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" th:onclick="|location.href='@{/}'|">running</a>
        <form th:action="@{/logout}" method="post">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">sign out</button>
            </div>
        </form>
    </div>
</div>
<div class="button-side">
    <button class="w-25 btn btn-primary" th:onclick="|location.href='@{/profile}'|" type="submit">프로필</button>
    <button class="w-25 btn btn-primary" th:onclick="|location.href='@{/check}'|" type="submit">기록</button>
</div>
</body>
</html>