<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>record</title>
    <style>

    </style>
</head>
<body>
<div class="navbar navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" th:onclick="|location.href='@{/}'|">running</a>
        <form th:action="@{/logout}" method="post">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">sign out</button>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">startPlace</th>
                <th scope="col">endPlace</th>
                <th scope="col">street</th>
                <th scope="col">dateTime</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="community : ${record}">
                <th scope="row" th:text="${record.id}"></th>
                <td th:text="${record.startPlace}"></td>
                <td th:text="${record.endPlace}"></td>
                <td th:text="${record.street}"></td>
                <td th:text="${record.dateTime}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>